<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- mybatis -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url"
			value="jdbc:oracle:thin:@java-yong.tplinkdns.com:9000:orcl"></property>
		<property name="username" value="PROJECT03"></property>
		<property name="password" value="1234"></property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="sqlSessionFactoryBean"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation"
			value="classpath:/mybatis-config.xml"></property>
	</bean>

	<bean id="sqlSessionTemplate"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory"
			ref="sqlSessionFactoryBean"></constructor-arg>
	</bean>


	<!-- DAOs -->
	<bean id="ntcDAO" class="com.mm.ntc.model.NtcDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
	<bean id="svcDAO" class="com.mm.svc.model.SvcDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
	<bean id="memberDAO" class="com.mm.member.model.MemberDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
	<bean id="proDAO" class="com.mm.pro.model.ProDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
	<bean id="reviewDAO" class="com.mm.review.model.ReviewDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
	<bean id="askDAO" class="com.mm.ask.model.AskDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
	<bean id="cartDAO" class="com.mm.cart.model.CartDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
	<bean id="orderDAO" class="com.mm.order.model.OrderDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate"/>
		</constructor-arg>
	</bean>
	<bean id="loveDAO" class="com.mm.love.model.LoveDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
	<bean id="shippingDAO" class="com.mm.shipping.model.ShippingDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
</beans>